<% @pins.each do |pin| %>
<div class="img">
 	<a target="_self" id="1" href="<%=pin[:src]%>"><img src="<%=pin[:src]%>" alt="<%=pin[:alt]%>" width="110" height="90"></a>
 	<div class="desc">	<%=pin[:alt]%></div>
</div>
<% end %>