<body>

<div class="img">
 <a target="_self" id="1" href="klematis_big.htm"><img src="klematis_small.jpg" alt="De" width="110" height="90"></a>
 <div class="desc">Desciption/Title</div>
</div>
<div class="img">
 <a target="_self" id="2" href="klematis2_big.htm"><img src="klematis2_small.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Desciption/Title</div>
</div>
<div class="img">
 <a target="_self" id="3" href="klematis3_big.htm"><img src="klematis3_small.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Desciption/Title</div>
</div>
<div class="img">
 <a target="_self" id="4" href="klematis4_big.htm"><img src="klematis4_small.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Desciption/Title</div>
</div>

</body>