<%=@links.length%>
<% @links.each do |link| %>
	<%=link.attributes['class'].inspect%>
	<br/><br/>
<% end %>

<!--<%=@result.inspect%>
-->

<body>

<div class="img">
 <a target="_self" id="1" href="http://media-cache-ak0.pinimg.com/736x/8a/b5/65/8ab5653cb2c45c202641e9d16ade9b72.jpg"><img src="http://media-cache-ak0.pinimg.com/736x/8a/b5/65/8ab5653cb2c45c202641e9d16ade9b72.jpg" alt="De" width="110" height="90"></a>
 <div class="desc">Cool watch 1</div>
</div>
<div class="img">
 <a target="_self" id="2" href="http://media-cache-ec0.pinimg.com/736x/3d/18/5e/3d185e9013962eec15f1e92fcdf0b169.jpg"><img src="http://media-cache-ec0.pinimg.com/736x/3d/18/5e/3d185e9013962eec15f1e92fcdf0b169.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Cool watch 2</div>
</div>
<div class="img">
 <a target="_self" id="3" href="http://media-cache-ak0.pinimg.com/736x/87/d5/e0/87d5e025c4df94915fbf4ee6205f83e9.jpg"><img src="http://media-cache-ak0.pinimg.com/736x/87/d5/e0/87d5e025c4df94915fbf4ee6205f83e9.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Cool watch 3</div>
</div>
<div class="img">
 <a target="_self" id="4" href="http://media-cache-ec0.pinimg.com/originals/c8/8a/31/c88a316237c060da61607a02e27d1e12.jpg"><img src="http://media-cache-ec0.pinimg.com/originals/c8/8a/31/c88a316237c060da61607a02e27d1e12.jpg" alt="Klematis" width="110" height="90"></a>
 <div class="desc">Least favorite watch</div>
</div>

</body>