#body{
	font-family: "Roboto Condensed", "Helvetica-NeueLight", Helvetica, Arial, sans-serif;
	font-size: 10px;
}

#rectangle {
	display: inline-block;
	width: 100%;
	height: 150px;
	background-color: #d3212b;
	position: absolute;
	top: 0px;
	left: 0px;
}

#logo{
	width: 300px;
	height: 75px;
	position: absolute;
	top:50px;
	left: 100px;
}

.navigation{
	font-family: "Roboto Condensed", "Helvetica-NeueLight", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	line-height: 0px;
	display: inline-block;
	background-color: #FFFFFF;
	color: #d3212b;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	vertical-align: text-middle;
}

.navigation:active {
  background: #ffffff;
  display: block;
  height: 25px;
  width: 100px;
  color: #d3212b;
  font-weight: bold;
  vertical-align: text-middle;
  text-align: center;
  line-height: 2px;
  position: absolute;
  border-radius: 4px;
  box-shadow:inset 1px 1px 1px 1px #4c4c4c;
  -webkit-box-shadow: inset 1px 1px 1px 1px #4c4c4c;
    -moz-box-shadow: inset 1px 1px 1px 1px #4c4c4c;
}

.navigation:hover {
	color: black;
}



#nav1{
	position: absolute;
	top: 90px;
	left: 750px;
}

#nav2{
	position: absolute;
	top: 90px;
	left: 900px;
}

#nav3{
	position: absolute;
	top: 90px;
	left: 1050px;
}

#nav4{
	position: absolute;
	top: 90px;
	left: 1200px;
}

#number1{
	position: absolute;
	top: 50px;
	left:150px;
	height: 200px;
	width: 75px;
}

#number2{
	position: absolute;
	top: 0px;
	left:0px;
	height: 200px;
	width: 75px;
}

#step2{
	position: absolute;
	top: 250px;
	left:150px;
	height: 500px;
	width: 100%;
}


#number3{
	position: absolute;
	top: 450px;
	left:150px;
	height: 200px;
	width: 75px;
}

#step3{
	position: relative;
	top: 10px;
	left: 0px;
	height: 500px;
	width: 100%;
}

h1{
	font-color: black;
	font-size: 18pt;
	font-weight: bold;
	color: #d3212b;
}

#mainheading {
	left: 100px;
	position: absolute;
	width: 1100px;
}


.steps{
	font-family: "Roboto Condensed", "Helvetica-NeueLight", Helvetica, Arial, sans-serif;
	top: 200px;
	position: absolute;
}

#embed_code{
	display: block;
	border-color: black;
	background-color: #d3212b;
	color: white;
	position: relative;
	top: 410px;
	left: 250px;
	width: 70%;
	font-size: 12pt;
	
}

label {
	position: absolute;
	top:390px;
	left:250px;
	width:200px;
}

p{
	font-size: 12pt;
}


.button {
  background: #d3212b;
  display: block;
  height: 25px;
  width: 200px;
  color: #ffffff;
  vertical-align: text-middle;
  text-align: center;
  line-height: 2px;
  left: 250px;
  top: 150px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 2px 1px #6b6b6b;
}

.button:active {
  background: #d3212b;
  display: block;
  height: 25px;
  width: 200px;
  color: #ffffff;
  vertical-align: text-middle;
  text-align: center;
  line-height: 2px;
  left: 250px;
  top: 150px;
  position: absolute;
  border-radius: 4px;
  box-shadow:inset 1px 1px 1px 1px #4c4c4c;
  -webkit-box-shadow: inset 1px 1px 1px 1px #4c4c4c;
    -moz-box-shadow: inset 1px 1px 1px 1px #4c4c4c;
}

.button:hover {
	color: black;
}

 a.button{
  text-decoration: none;
 }


#desc1{
	position: absolute;
	top: 170px;
	width: 500px;
	left: 250px;
}

#pinteresturl{

	width: 500px;
	height: 25px;
	top: 75px;
	left: 100px;
	position: absolute;
}

#code{
	position: absolute;
	top: 15px;
	left:550px;
}

#account{
	position: absolute;
	top: 535px;
	left: 250px;
	width: 125px;
}

#desc2{
	position: absolute;
	top: 550px;
	left: 250px;
	width: 1000px;

}

#pinlink{
	color: white;
	font-family: "Roboto Condensed", "Helvetica-NeueLight", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.disabled{
	visibility: hidden;
}





















